html,
body {
    height: 100%;
    font-family: 'Cormorant Infant', serif;
    background-color: #E5E5E5;
}

section {
    background-color: #E5E5E5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #E5E5E5;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: #E5E5E5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #E5E5E5;
}

// @media (max-width:900px) {
//     .container {
//         max-width: 750px;
//     }
//     .vacancies__info {
//         max-width: 640px;
//         min-height: 490px;
//         margin: 0 auto;
//         position: unset;
//     }
//     .vacancies__stars {
//         display: none;
//     }
// }
// @media (max-width:767px) {
//     .container {
//         max-width: none;
//     }
// }

/* Landscape tablets and medium desktops */