@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'slider';
.header {
    &__inner {
        max-width: 900px;
        height: 83px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border: 1px solid black;
        box-shadow: $shadow;
    }
    &__btn {
        display: none;
        border: none;
        padding: 0;
    }
}

.menu {
    font-family: 'Gabriela', serif;
    &__list {
        display: flex;
        justify-content: center;
    }
    &__list-link {
        position: relative;
    }
    &__list-link::after {
        content: '';
        width: 0px;
        height: 1px;
        background: #E98B07;
        position: absolute;
        top: 100%;
        left: 0;
        transition: .5s;
    }
    &__list-item:hover .menu__list-link:after {
        width: 100%;
        transform: translationX(100%);
    }
    &__list-item {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.045em;
    }
    &__list-item+.menu__list-item {
        padding-left: 50px;
    }
}

.logo__img {
    align-items: center;
    padding: 0px 70px;
}

.header {
    &__title {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 29px;
        // font-size: calc(46px + (34 + 34 * 0.7) * ((100vw - 320px) / 1440));
        font-size: 80px;
        line-height: 97px;
        font-weight: 400;
        text-align: center;
    }
    &__content {
        margin: 0 auto;
        position: relative;
    }
    &__content-img {
        position: absolute;
        right: 77px;
        top: 120px;
        max-width: 240px;
        border: 1px solid #000000;
    }
    &__about {
        padding-left: 80px;
    }
    &__about-name {
        margin-top: 18px;
        // font-size: calc(15px + (33 + 33 * 0.7) * ((100vw - 320) / 1440));
        font-size: 48px;
        line-height: 58px;
        font-weight: 400;
        // text-align: center;
    }
    &__about-text {
        font-family: Gabriela;
        max-width: 360px;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        margin-top: 15px;
    }
    &__about-btn {
        width: 339px;
        height: 80px;
        margin-top: 30px;
        background: #E98B07;
        border: 1px solid #000000;
        box-shadow: $shadow;
    }
    &__about-tel {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &__scroll {
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Servises
.services {
    &__title {
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 130px;
        width: 344px;
        height: 85px;
        left: 548px;
        top: 18px;
        background: #000000;
        border: 1px solid #000000;
        box-shadow: 3px 3px 0px -1px #fff, 3px 3px 0px 0px #000;
    }
    &__title-text {
        margin-top: 8px;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.05em;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    &__item-1 {
        width: 545px;
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    &__item-img-1 {
        position: absolute;
        z-index: 2;
    }
    &__item-text-1 {
        position: absolute;
        width: 311px;
        height: 83px;
        right: 4px;
        background: #FFFFFF;
        border: 1px solid #000000;
        z-index: 1;
        text-align: center;
        padding-top: 21px;
        padding-left: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.05em;
        box-shadow: $shadow;
    }
    &__item-2 {
        @extend .services__item-1;
        top: -25px;
        float: right;
    }
    &__item-img-2 {
        @extend .services__item-img-1;
        right: 0;
    }
    &__item-text-2 {
        @extend .services__item-text-1;
        left: 0;
        padding-left: 0px;
    }
    &__item-3 {
        @extend .services__item-1;
        top: -50px;
    }
    &__item-img-3 {
        @extend .services__item-img-1;
    }
    &__item-text-3 {
        @extend .services__item-text-1;
    }
    &__item-4 {
        @extend .services__item-2;
        top: -75px;
    }
    &__item-img-4 {
        @extend .services__item-img-2;
    }
    &__item-text-4 {
        @extend .services__item-text-2;
    }
    &__scroll-item {
        position: absolute;
        margin: 234px 0px 0px 414px;
    }
}

// Услуги
.price li {
    list-style: none;
    position: relative;
    a {
        text-decoration: none;
    }
    a.parent {
        margin: 0px 30px 0px 0px;
    }
    &__list>li {
        margin: 0px 60px 0px 0px;
    }
}

.sub-price {
    &__list-1,
    &__list-2 {
        display: none;
        position: absolute;
        color: black;
        border: 0px solid #000;
    }
    &__list-1>li,
    &__list-2>li {
        background-color: #fff;
        box-shadow: $shadow;
    }
    &__list-1 {
        min-width: 260px;
        right: 25px;
        bottom: -50px;
        border: 1px solid #000;
        z-index: 2;
        font-weight: 500;
        font-family: Gabriela;
    }
    &__list-2 {
        min-width: 260px;
        left: 25px;
        bottom: -50px;
        border: 1px solid #000;
        z-index: 2;
        font-weight: 500;
        font-family: Gabriela;
    }
    &__list-coast {
        float: right;
    }
    &__list-1>li,
    &__list-2>li,
    &__list-item {
        padding: 5px 10px;
    }
}

.arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.arrow.active {
    transform: rotate(-180deg);
}

body.mouse .price__list>li:hover .sub-price__list-1,
body.mouse .price__list>li:hover .sub-price__list-2 {
    display: block;
}

body.mouse .sub-price__list>li:hover .sub-price__list-1,
body.mouse .sub-price__list>li:hover .sub-price__list-2 {
    display: block;
}

body.touch .sub-price__list-1.open,
body.touch .sub-price__list-2.open {
    display: block;
}

body.touch .arrow {
    display: block;
}

// Works
.works {
    &__title {
        @extend .services__title;
        margin-top: 190px;
    }
    &__title-text {
        @extend .services__title-text;
    }
    margin-top: -50px;
    &__scroll {
        display: flex;
        justify-content: center;
    }
}

// Vacancies
.vacancies {
    &__inner {
        max-width: 900px;
        height: 800px;
        position: relative;
    }
    &__title {
        @extend .services__title;
    }
    &__title-text {
        @extend .services__title-text;
    }
    margin-top: -50px;
    &__stars {
        text-align: center;
        width: 250px;
        height: 250px;
    }
    &__star {
        display: inline-block;
        vertical-align: top;
        width: 190px;
        height: 190px;
        right: 110px;
        background: linear-gradient(to bottom, #f87a04 20%, #c40202 100%);
        position: relative;
        animation: 3s linear 1s normal none infinite running vacancies__star;
        z-index: 2;
    }
    &__star:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 10px;
        bottom: 16px;
        right: 24px;
        background: linear-gradient(to bottom, #f87a04 20%, #c40202 100%);
        z-index: 1;
    }
    &__star,
    .vacancies__star:before {
        clip-path: polygon(162px 74px, 117px 96px, 165px 106px, 116px 108px, 156px 137px, 110px 119px, 134px 162px, 100px 126px, 105px 175px, 88px 129px, 72px 175px, 76px 126px, 42px 163px, 66px 119px, 20px 139px, 59px 108px, 10px 108px, 58px 96px, 13px 75px, 62px 84px, 29px 47px, 70px 75px, 55px 28px, 81px 70px, 87px 21px, 94px 70px, 119px 27px, 105px 75px, 145px 46px, 113px 84px, 162px 74px);
    }
    &__star:hover {
        background: linear-gradient(to bottom, #652aee 0%, #c40202 100%);
    }
    &__star:hover:before {
        background: linear-gradient(to bottom, #652aee 0%, #c40202 100%);
    }
    &__line {
        width: 10px;
        height: 484px;
        display: inline-block;
        position: relative;
        background: linear-gradient(to bottom, #000 20%, #000 100%);
        top: 100px;
        left: -216px;
    }
}

@keyframes vacancies__star {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vacancies__info {
    max-width: 640px;
    min-height: 490px;
    background: #FFFFFF;
    right: 100px;
    position: absolute;
    top: 175px;
    box-shadow: 3px 3px 0px -1px #fff, 3px 3px 0px 0px #000;
    border: 1px solid #000000;
    &-text {
        width: 562px;
        height: 389px;
        margin: 35px;
        font-weight: 600;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
}

// Contacts
.contacts {
    &__info {
        margin-bottom: 72px;
    }
    &__title {
        @extend .services__title;
        color: #fff;
        text-align: center;
        font-size: 48px;
        line-height: 58px;
        width: 442px;
        height: 76px;
        background-color: #E98B07;
        margin-top: 100px;
        padding-top: 6px;
    }
    &__info {
        max-width: 1135px;
        margin-top: 114px;
        position: relative;
        display: flex;
    }
    &__map {
        max-width: 433px;
        max-height: 576px;
        background: #FFFFFF;
        border: 1px solid #000000;
        padding: 29px;
        box-shadow: 3px 3px 0px -1px #000;
        &--address {
            font-family: Gabriela;
            font-size: 35px;
            line-height: 45px;
            padding-bottom: 22px;
            &-street {
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    &__social-content {
        max-width: 366px;
        max-height: 260px;
        background: #000000;
        position: absolute;
        top: 30px;
        right: 0;
        box-shadow: 3px 3px 0px -1px #fff, 3px 3px 0px 0px #000;
    }
    &__social-title {
        font-size: 43px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        font-family: Gabriela;
        padding: 10px;
    }
    &__social {
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        bottom: 0;
    }
    &__social-item {
        padding: 20px;
    }
    &__social-item+.contacts__social-item {
        padding-left: 15px;
    }
}

.contacts__tel {
    width: 366px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid $orange;
    position: absolute;
    right: 0;
    bottom: 20px;
    box-shadow: 3px 3px 0px -1px #fff, 3px 3px 0px 0px $orange;
    text-align: center;
    &-title {
        font-family: Gabriela;
        font-size: 48px;
        right: 63px;
    }
    &-tel {
        font-family: Gabriela;
        font-size: 37px;
        margin-top: 78px;
        position: absolute;
        top: 60px;
        right: 32px;
    }
}

// Footer started
.footer {
    &__inner {
        margin: 0 auto;
        max-width: 900px;
        height: 83px;
        background-color: #000;
        display: flex;
        justify-content: space-between;
    }
    &__telephone {
        font-family: Gabriela;
        margin-top: 24px;
        margin-left: 75px;
        color: #fff;
        font-size: 22px;
        line-height: 46px;
    }
    &__logo {
        margin-top: 27px;
    }
    &__social {
        margin-top: 35px;
        margin-right: 75px;
        display: flex;
        justify-content: center;
    }
    &__social-item+.footer__social-item {
        padding-left: 15px;
    }
}

@import 'media';